version: "3.7"
services:
   lab:
      image: patlewig/genra-py:0.1.0
      container_name: genra-py
      user: 1002:1002
      volumes:
          - ./:/home/jovyan
      ports:
          - 8888:8888
      environment:
          - JUPYTER_ENABLE_LAB=1
      command: start-notebook.sh
      
      
