backcall==0.1.0
certifi==2020.4.5.1
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
flake8==3.7.9
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml==4.6.2
matplotlib==3.2.1
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mongoengine==0.19.1
numpy==1.18.1
olefile==0.46
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pycairo==1.19.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pymongo==3.9.0
pyparsing==2.4.7
python-box==4.2.2
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
wcwidth==0.1.9
xlrd==1.2.0
